p{ text-align: center;}
h1{text-align: center;}
h2{text-align: center;}
p{font-size:20px;}
h1{color:blueviolet;}
h2{color:crimson;}
.list{color:darkgreen;}
.sk{color:darkslateblue;}
.center{width:30%; height:400px;position:absolute;top:20px; left:1000px;text-align:center;background-color: rgb(214, 194, 194);}
.right{width:30%;height:450px; float:right;background-color: rgb(72, 85, 129);}
.left{width:30%; height:400px;float:left;background-color: rgb(150, 197, 136);}
.pole{font:bold 40px verdana,ans-serif;}
.pole{border:1px dotted rgb(167, 35, 35);}
.pole2{font:bold 30px arial,ans-serif;}
.italic{font-style:italic;}
.pole3{background: color #2196f3;padding:10px;}
.logosize{width:100px; height:90px; position:absolute; left:300px; bottom:10px}
.footer{width:20px;height:10px;position:absolute; right:500px; bottom:0}
.contact{background-color: darkviolet;color: #000; width:400px;height:300px;font-size:30px;position:absolute;top:20px; right:100px;}
