p{font-size:20px;}
h1{color:blueviolet;}
h2{color:crimson;}
.list{color:darkgreen;}
.sk{color:darkslateblue;}
.center{text-aling:center;}
.pole{font:bold 40px verdana,ans-serif;}
.pole{border:1px dotted rgb(167, 35, 35);}
.pole2{font:bold 30px arial,ans-serif;}
.pro{border:1px solid rgb(35, 38, 167);}
.italic{font-style:italic;}
.pole3{background: color #2196f3;padding:10px;}